<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
<Document name="zapm-addcmd.ZPM">
<Module>
 <Name>zapm-addcmd</Name>
  <Version>1.0.0</Version>
  <Description>An example of adding new commands to the zapm shell.</Description>
  <Packaging>module</Packaging>
  <SourcesRoot>./</SourcesRoot>
	<Invokes>
	<Invoke Class="%SYSTEM.OBJ" Method="CompilePackage">
      <Arg>%ZAPM</Arg>
	  <Arg>cuk</Arg>
    </Invoke>
	<Invoke Class="%ZAPM.ext.commands" Method="AddUpdate">
      <Arg>do ##class(%ZAPM.ext.Production).SaveAndStop()</Arg>
	  <Arg>StopProd</Arg>
	  <Arg>Prod</Arg>
	  <Arg>Ask</Arg>
	  <Arg>Save settings and stop of products in all Namespaces</Arg>
	 </Invoke>
	<Invoke Class="%ZAPM.ext.commands" Method="AddUpdate">
      <Arg>do ##class(%ZAPM.ext.Production).StartAll()</Arg>
	  <Arg>StartProd</Arg>
	  <Arg>Prod</Arg>
	  <Arg>Ask</Arg>
	  <Arg>Check and start products in Namespaces</Arg>
	 </Invoke>
	</Invokes>
  <Resource Name="addcmd.PKG"/> 
</Module>
</Document>
</Export>